.home h1 {
  padding: 20px;
  color: var(--color-primary);
  max-width: 420px;
  font-size: 46px;
}

.home p {
  display: flex;
  column-gap: 10px;
  align-items: center;
  max-width: 558px;
  padding: 20px;
  font-size: 20px;
  color: var(--color-text-on-surface);
  line-height: 33px;
  letter-spacing: 3px;
  background-color: var(--color-surface);
  border-radius: 10px;
}
